@import "tailwindcss";

:root {
  --foreground: #171717;
  --base-color: #FFAB19;
  --hover-base-color: #ffa406;
  --soft-base-color: #FFFAF1;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FFF0D7;
    --foreground: #171717;
  }
}

body {
  background: #FFF0D7;
  color: var(--foreground);
  font-family: var(--font-inter);
}

html {
  scroll-behavior: smooth;
}
